<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <br />

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i> <span>Servicio-Mantenimiento</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-print"></i> Impresora</a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-print"></i> <span>Reemprimir Recibo</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Listado de ingresos</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Nuevo Ingreso</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-print"></i> <span>Reemprimir Recibo</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Entrada</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Salida</a></li>
                        </ul>
                    </li>

                    <li><a href="#"><i class="fa fa-circle-o"></i> Categorías</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Recaudos</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Existentes</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Movimientos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span>Ventas</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Ventas</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Artículos</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Categoría</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Listado de V</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#"><i class="fa fa-th"></i> <span>Gastos</span>
                    <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Ingresos</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Categoría</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Listado de G</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#"><i class="fa fa-users"></i> <span>Usuarios y Estacionamiento</span>
                    <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Estacionamiento</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#"><i class="fa fa-bar-chart"></i> <span>Consultas</span>
                    <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Informe de Caja</a></li>
                </ul>
            </li>

        </ul>
    </section>
</aside>